:root {
    --Great-Vibes: 'Great Vibes', cursive;
    --Playfair: 'Playfair Display', serif;
    --Source-Sans: 'Source Sans Pro', sans-serif;
    --Main-Green:#95e1d3;
    --Main-Red:#f38181;
    --Main-White:white;
}

body{
    margin:0;
}
