.advantage {
    padding: 4vw 8vw 4vw;
    text-align: center;
    position: relative;
    display: flex;
}

.character {
    display: inline-block;
    position: relative;
    width: 24vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.character img {
    width: 4vw;
    height: 4vw;
}

.character h1{
    font-family: var(--Playfair);
    font-size: 3.5vw;
    margin: 2vw 0;
}

.character p {
    text-align: left;
    font-family: var(--Source-Sans);
    font-size: 1.5vw;
}

.character p span{
    font-weight: bold;
    color: var(--Main-Red);
}

@media (max-width:1028px){

    .advantage{
        display: inline-block;
    }
    .character{
        width: 80vw;
    }

    .character img{
        margin-top: 2vw;
        width: 2rem;
        height: 2rem;
    }

    .character h1{
        font-family: var(--Playfair);
        font-size: 2rem;
        margin-top: 0;
    }

    .character p{
        font-size: 3vw;
    }
}