.copyright {
    background-color: var(--Main-White);
    text-align: center;
    padding:2vw;
}

.imgDiv {
    width: 20%;
    padding-left: 40%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 4vw;
}

.imgDiv img{
    width:2vw;
}

.copyright p{
    font-family: var(--Source-Sans);
    letter-spacing: 2px;
    margin: 1vw 0;
}


@media (max-width:1028px){
    .imgDiv{
        width: 30%;
        padding-left: 35%;
    }

    .copyright p{
        font-family: var(--Source-Sans);
        letter-spacing: 1px;
        margin: 1vw 0;
    }
}