.landing{
    position: relative;
    margin-top: 5rem;
    width: 100%;
}

.landing img{
    width: 100%;
    margin-bottom: -5px;
}

.landingLeft{
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    
}

.landingRight{
    width: 65%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0vw;
    margin-bottom: 0px;
}

.text h1{
    font-family: var(--Great-Vibes);
    font-size: 10vw;
    font-weight: 400;
    margin: 0;
}

.text h2 {
    font-family: var(--Playfair);
    font-size: 8vw;
    margin: 0;
}

.text p{
    font-family: var(--Source-Sans);
    font-size: 1.5vw;
    font-weight: 400;
}
